p {
  font-size: 20.25px;
}

.App-header {
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: Montserrat;
}

.App-link {
  color: #61dafb;
}

#logo {
  width: 120px;
  height: 43.3px;
  left: 144px;
  top: 32px;
}

#titulo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 65.76px;
  line-height: 80px;
}

.contenedor {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fedd27;
}

.contenedor:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 65%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

#rolGrid {
  font-size: 16px;
}

.bolsaHabilidad {
  color: red;
  border-style: solid;
  border-width: 1.35px;
}

#arrow-line {
  position: absolute;
  width: 90px;
  height: 2px;
  background: #000000;
  transform: rotate(90deg);
}
.arrow {
  position: absolute;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
